<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

  <body>
    <header>
      <h1>
        MAIN PAGE
      </h1>
    </header>

    <main>  
 
      
     
    </main>

    <footer>     
    </footer>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
   <!--<script src="/client.js"></script> -->
 <form action="/login" method="post">
      <label for="ID">ID</label><br>
      <input type="text" id="ID" name="ID" value=><br>

      <label for="Email">Email</label><br>
      <input type="text" id="Email" name="Email" value=><br>

      <input type="submit" value="Submit">
    </form>
  </body>
</html>