<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html>
  <head>
    <title>ASE</title>
    <meta name="description" content="ASE">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        Vendor Page
      </h1>
    </header>

    <main>  
        <h1>
            add item
          </h1>
<form action="/addItem" method="post">
    <label for="vendor">vendor:</label><br>
    <input type="text" id="vendor" name="vendor" value="John"><br>

    <label for="name">name:</label><br>
    <input type="text" id="name" name="name" value="Doe"><br>

    <label for="quantity">quantity:</label><br>
    <input type="number" id="quantity" name="quantity" value="Doe"><br>

    <label for="price">price:</label><br>
    <input type="number" id="price" name="price" value="Doe"><br>

    <input type="submit" value="Submit">

  </form> 

      
      
     
    </main>

    <footer>     
    </footer>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>

  </body>
</html>